.mat-toolbar {
  nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      margin: 0 0 0 2rem;

      &:first-child {
        margin: 0;
      }
    }
  }
}
