<div class="container">
  <div class="form-container">
    <h2>Login</h2>

    <form [formGroup]="form" (ngSubmit)="onsubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [formControlName]="'email'">
        <mat-error *ngIf="getformcontrol().email.invalid">{{geterrormsgforemail()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [formControlName]="'password'">
        <mat-error *ngIf="getformcontrol().password.invalid">{{geterrormsgforpassword()}}</mat-error>
      </mat-form-field>

      <p [routerLink]="['/', 'forget-password']">forget password?</p>

      <button type="submit" mat-raised-button [color]="'primary'">Login</button>
    </form>

    <p class="register-text">Dont have an account? <span [routerLink]="['/', 'register']">Register</span></p>

  </div>
</div>
