<div class="container">
  <div class="form-container">
    <h2>Change Password</h2>

    <form [formGroup]="form" (ngSubmit)="onsubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Old Password</mat-label>
        <input matInput [formControlName]="'old_password'">
        <mat-error *ngIf="getformcontrol().old_password.invalid">{{geterrormsgforold_password()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [formControlName]="'password'">
        <mat-error *ngIf="getformcontrol().password.invalid">{{geterrormsgforpassword()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput [formControlName]="'confirm_password'" (input)="checkpasswordmatch()">
        <mat-error *ngIf="getformcontrol().confirm_password.invalid">{{geterrormsgforconfirm_password()}}</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button [color]="'primary'">Change</button>
    </form>

  </div>
</div>
