<div class="container">
  <div class="form-container">
    <h2>Forget Password</h2>

    <form [formGroup]="form" (ngSubmit)="onsubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [formControlName]="'email'">
        <mat-error *ngIf="getformcontrol().email.invalid">{{geterrormsgforemail()}}</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button [color]="'primary'">Submit</button>
    </form>

  </div>
</div>
